$border: 1px solid #000;
$border-transparent: 1px solid #0000;
$border-color: #000;

$svg-color: #000;
$text-color: #000;

%display {
    display: block;
    position: relative;
}

%flex {
    display: flex;
    position: relative;
}

%flex-start {
    @extend %flex;
    justify-content: start;
}

%flex-between {
    @extend %flex;
    justify-content: space-between;
}





%login-form {
    border: $border;
    border-radius: 20px;
    width: fit-content;
    margin: 200px auto 0 auto;
    padding: 40px 100px;
    gap: 20px;
}

%login-p {
    font-size: 40px;
}

%login-input {
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    padding: 2px 10px;
    width: 370px;
    border-top: $border;
    border-bottom: $border;
}

%login-button {
    font-size: 30px;
    border-left: $border;
    border-right: $border;
    padding: 10px 20px;
    font-weight: bold;

    &:hover {
        background-color: #ddd;
    }
}